<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="Digital marketing courses website template that can help you boost your business courses website and its completely free.">
<meta name="keywords" content="seo,free website template,responsive website template,marketing,search engine optimization, web analytics ">
<title>Digital Marketing Courses Website Template</title>
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Style CSS -->
<link href="css/style.css" rel="stylesheet">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

<!-- FontAwesome CSS -->
<link rel="stylesheet" type="text/css" href="css/fontello.css">
<link href="css/font-awesome.min.css" rel="stylesheet">
 
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="header-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-sm-4 col-md-2 col-xs-12">
        <div class="logo"> <a href="index.html"><img src="./images/logo.png" class="img-responsive" alt=""></a> </div>
      </div>
      <div class="col-lg-8 col-md-10 col-sm-8 col-xs-12">
        <div class="navigation-wrapper">
          <div id="navigation">
            <ul>
              <li class="active"><a href="index.html" title="">Home</a></li>
              <li><a href="about.html" title="">About</a> </li>
              <li class="has-sub"><a href="#" title="">Courses</a>
                <ul>
                  <li><a href="courses.html" title="">Courses</a></li>
                  <li><a href="courses-single.html" title="">Courses Single </a></li>
                </ul>
              </li>
              <li class="has-sub"><a href="#" title="">Blog</a>
                <ul>
                  <li><a href="blog-default.html" title="">Blog Default</a></li>
                  <li><a href="blog-single.html" title="">Blog Single</a></li>
                </ul>
              </li>
              <li class="has-sub"><a href="#" title="">Features</a>
                <ul>
                  <li><a href="testimonials.html" title="">Testimonials</a></li>
                  <li><a href="404-error.html" title="">404 error</a></li>
                  <li><a href="styleguide.html" title="">Styleguide</a></li>
                </ul>
              </li>
              <li><a href="contact.html" title="">Contact</a> </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-2 hidden-md hidden-sm hidden-xs"> <a href="#" class="btn btn-primary">Request a Course</a> </div>
    </div>
  </div>
</div>
<!-- header-close --> 
<!-- page-header-start -->
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="page-section">
          <h1 class="page-title">Blog Single</h1>
          <p class="page-text">Read a blog by educare.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- page-header-close -->
<div class="space-medium">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div class="post-block">
          <div class="post-img"> <a href="#"><img src="images/blog-post-big-1.jpg" alt="" class="img-responsive"></a> </div>
          <div class="post-content">
            <h1 class="mt20">Digital Marketing &amp; Data Analytics Blog</h1>
            <p class="mt20">Nam luctus mattis feliseu placeunc etrhoncus anstibulum interdum tempus mi ut impestibulum eleifend nequesed porttitor egestas justo dui tempus nibhac fermentum diamest in augtiam et tellus auctor lacinia est sitamet varius maguis sapien ligula varius in eleifend atconsectetur vulputate enim. </p>
            <p>Donec tortor enim, dapibus a fermentum at, ullamcorper nec sem. Curabitur sollicitudin, ligula eu placerat auctor, augue risus sodales nisl, vitae vestibulum eros felis sed sapien. Sed placerat tempus magna non rhoncus. Nulla orci mi, interdum feugiat dolor ac, mattis ultrices diam. Nunc et semper est. Cras viverra commodo tristique. </p>
            <img src="images/right-image.jpg"  alt=""  class="alignright">
            <p>Suscipit metus at varius placerat tristique ornare nullam lacinia tristique purus eget the iaculis etiam consequat ultricies duieget tristique phasellus ultrices.</p>
            <p>Sollicitudin sem tincidunt utpraesent quis nulla an condimentum turpis volutpat abov pretiumorbi eunibh  egestas lorem sedita a porta ipsum.</p>
            <blockquote>
              <p class="">Ms. Ford told the newspaper that she’s still bothered by the whole episode. “Even though they dismissed it, I still feel dirty. … I still feel like a criminal, ” she said.</p>
            </blockquote>
            <p>Suspendisse placerat augue velleo aliquetid volutpat ipsum scelerisqnec nisiante volutpat mollis sedtinci dunt non velitsit amet nisi ligula.</p>
            <img src="images/left-image.jpg"  alt="" class="alignleft">
            <p>The ability to manage money competently is when the purchasing population is shrinking.</p>
            <p>Phasellus efficitur feugiat ex, sit amet gravida velit sodales sit amet. Morbi id semper turpis. Mauris vestibulum Donec tortor enim, dapibus a fermentum at, ullamcorper nec sem. Curabitur sollicitudin, ligula eu placerat auctvihendrerit non. In pretium tortor tellus, non porttitor nibh semper eget. </p>
            <p>The ability to manage money competently is especially valuable quality in the conditions of financial isa crisis, when the purchasing power of the population is shrinking.</p>
            <div class="meta"> <span class="meta-icon"><i class="fa fa-calendar"></i></span><span class="meta-date">20 November, 2020</span> <span class="meta-icon"><i class="fa fa-user"></i></span><span class="meta-author">By<a href="#"> Admin</a></span><span class="meta-icon"><i class="fa fa-comments-o"></i></span><span class="meta-comments">15 Comments</a></span></div>
          </div>
          <div class="post-navigation mb30 mt30">
            <div class="row">
              <div class="nav-links">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div><a href="#" class=" prev-link mb30">Prev Post</a>
                    <h4 class="previous-next-title"><a href="#">About Email Marketing You Should Avoid</a></h4>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class=" nav-next text-right"><a href="#" class="next-link mb30">Next Post</a>
                    <h4 class="previous-next-title"><a href="#">Social Media Marketing Tips for Startups</a></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!--Author post start-->
          <div class="author-block">
            <div class="row">
              <div class="author-post">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                  <div class="author-img"><a href="#"><img src="images/author-img.jpg" alt="" class="img-circle"></a></div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                  <div class="author-post-content">
                    <h4 class="author-title">Hope Porter</h4>
                    <span class="author-meta">Author</span> </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="pdl20 pdt10">
                      <p class="author-text">Mauris placer tellus sed sem venenaet semper euismo Integer a justo ac dolor euismod dictum vitae in purus sortor placer tellus sed sem venenaet semper euismo Integer a justo ac dolor euismod dictum vitae in purus sorto estommodo in sapien imauris.</p>
                      <div class="author-post-btn"><a href="#" class="btn btn-default btn-lg">view all post</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!--Author post close-->
          <div class="related-block">
            <div class="row">
              <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div>
                  <h2 class="mb20">Related Post</h2>
                  <div class="row">
                    <div class="recent-post">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="related-img"><a href="#"  class="imghover"><img src="images/related-post-1.jpg" alt class="img-responsive"></a></div>
                        <div class="related-post-content">
                          <h4 class="related-title"><a href="#" class="title">About Email Marketing You Should Avoid</a></h4>
                          <span class="meta-categories">In<a href="#" class="title">"Email Marketing"</a></span></div>
                      </div>
                    </div>
                    <div class="recent-post">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="related-img"><a href="#"  class="imghover"><img src="images/related-post-2.jpg" alt class="img-responsive"></a></div>
                        <div class="related-post-content">
                          <h4 class="related-title"><a href="#" class="title">Social Media Marketing Tips for Startups</a></h4>
                          <span class="meta-categories">In<a href="#">"Media"</a></span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!--comments start-->
        <div class="comment-area">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="comment-title">
                <h2>(4)Comments</h2>
                <ul class="comment-list">
                  <li>
                    <div class="comment-author"><img src="images/comment-post-1.jpg" alt="" class="img-circle"></div>
                    <div class="comment-info">
                    <div class="comment-header">
                      <h4>Cassandra Craft</h4>
                      <div class="comment-meta-date"><span >20 November, 2020</span></div>
                    </div>
                    <div class="comment-content">
                      <p>Curabieet sitamet purus sed vestibulu ullam cursus, lacus eget pharetraium dui sed dius natoque penatibus et magnis dis parturiet the iaculis etiam.</p>
                      <div><a href="#" class="btn-link">Reply</a></div>
                    </div>
                  </li>
                </ul>
                <ul class="comment-list">
                  <li>
                    <div class="comment-author"><img src="images/comment-post-2.jpg" alt="" class="img-circle"></div>
                    <div class="comment-info">
                    <div class="comment-header">
                      <h4>Justin Cone</h4>
                      <div class="comment-meta-date"><span >20 November, 2020</span></div>
                    </div>
                    <div class="comment-content">
                      <p>Proin purus diam, tristique quis pharetra et, pellentesque et jngilorem ipsum dolro sit amet psumellam hendrerit nibh eget sagittis hendrerit.</p>
                      <div><a href="#" class="btn-link">Reply</a></div>
                    </div>
                    <ul class="comment-list childern">
                      <li>
                        <div class="comment-author"><img src="images/comment-post-3.jpg" alt="" class="img-circle"></div>
                        <div class="comment-info">
                        <div class="comment-header">
                          <h4>Juan Jones</h4>
                          <div class="comment-meta-date"><span >20 November, 2020</span></div>
                        </div>
                        <div class="comment-content">
                          <p>Suscipit metus  quis pharetra etpeio nec nisl convallrerit nibh eget sagittis hendrerit.sum rateget the iaculis etiam.</p>
                          <div><a href="#" class="btn-link">Reply</a></div>
                        </div>
                      </li>
                    </ul>
                      </ul>
                  </li>


                    <ul class="comment-list">
                      <li>
                        <div class="comment-author"><img src="images/comment-post-4.jpg" alt="" class="img-circle"></div>
                        <div class="comment-info">
                        <div class="comment-header">
                          <h4>Cassandra Craft</h4>
                          <div class="comment-meta-date"><span >20 November, 2020</span></div>
                        </div>
                        <div class="comment-content">
                          <p>Curabieet sitamet purus sed vestibulu ullam cursus, lacus eget pharetraium dui sed dius natoque penatibus et magnis dis parturiet the iaculis etiam.</p>
                          <div><a href="#" class="btn-link">Reply</a></div>
                        </div>
                      </li>
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
        
        <!--comments close-->
        
        <div class="leave-comments">
          <h2 class="mb30">Leave A Reply</h2>
          <form>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-md-6 col-xs-12">
                <div class="form-group">
                  <label class="control-label sr-only" for="textarea"></label>
                  <textarea class="form-control" id="textarea" name="textarea" rows="6" placeholder="Comments"></textarea>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-md-6 col-xs-12">
                <div class="form-group">
                  <label class="control-label sr-only" for="name"></label>
                  <input id="name" name="name" type="text" class="form-control" placeholder="Name">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-md-6 col-xs-12">
                <div class="form-group">
                  <label class="control-label sr-only" for="email"></label>
                  <input id="email" name="email" type="email" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-md-6 col-xs-12">
                <div class="form-group">
                  <label class="control-label sr-only" for="website"></label>
                  <input id="website" name="website" type="text" class="form-control" placeholder="Website">
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-md-6 col-xs-12">
                <div class="form-group">
                  <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> 
        
        <!-- widget-search-start -->
        <div class=" widget widget-search">
          <form>
            <div class="">
              <input type="text" class="form-control search-form" placeholder= "Search Here">
               <button type="Submit"><i class="fa fa-search"></i></button>
             </div>
          </form>
        </div>
        <!-- widget-search-close --> 
        
        <!-- widget-categories-start -->
        <div class=" widget widget-categories">
          <h2 class="widget-title">Categories</h2>
          <ul class="">
            <li  class="active"><span class="widget-categories-icon"><i class="fa fa-circle-o"></i></span> <a href="#">Web Analytics (10)</a></li>
            <li> <span class="widget-categories-icon"><i class="fa fa-circle-o"></i></span><a href="#">Search Engine Marketing (05)</a></li>
            <li><span class="widget-categories-icon"><i class="fa fa-circle-o"></i></span><a href="#">Social Media Marketing (06) </a></li>
            <li><span class="widget-categories-icon"><i class="fa fa-circle-o"></i></span><a href="#">SEO (12)</a></li>
            <li> <span class="widget-categories-icon"><i class="fa fa-circle-o"></i></span><a href="#">Website Basics (06)</a></li>
            <li> <span class="widget-categories-icon"><i class="fa fa-circle-o"></i></span><a href="#">Ecommerce Selling (05) </a></li>
          </ul>
        </div>
        <!-- widget-categories-close --> 
        
        <!-- widget-archievs-start -->
        <div class=" widget widget-archives">
          <h2 class="widget-title">Archives</h2>
          <ul>
            <li  class="active"><span class="widget-categories-icon"><i class="fa fa-circle-o"></i></span><a href="#">February (2020)</a></li>
            <li><span class="widget-categories-icon"><i class="fa fa-circle-o"></i></span><a href="#">December (2019) </a></li>
            <li><span class="widget-categories-icon"><i class="fa fa-circle-o"></i></span><a href="#">November (2019) </a></li>
            <li><span class="widget-categories-icon"><i class="fa fa-circle-o"></i></span><a href="#">October (2018) </a></li>
            <li><span class="widget-categories-icon"><i class="fa fa-circle-o"></i></span><a href="#">September (2018)</a></li>
          </ul>
        </div>
        <!-- widget-archievs-close --> 
        
        <!-- widget-recent-post-start -->
        <div class=" widget widget-recent-post">
          <h2 class="widget-title">Recent Post</h2>
          <ul>
            <li>
              
                <h4 class="recent-title "><a href="#" class="title">SEO Tips To Attract &amp; Convert Customers</a></h4>
                <div class="meta"> <span class="meta-icon"><i class="fa fa-calendar"></i></span><span class="meta-date">18 November, 2020</span>
              </div>
            </li>
            <li>
              
                <h4 class="recent-title"><a href="#" class="title">About Email Marketing You Should Avoid</a></h4>
                <div class="meta"> <span class="meta-icon"><i class="fa fa-calendar"></i></span><span class="meta-date">16 November, 2020</span>
              
            </li>
            <li>
              
                <h4 class="recent-title"><a href="#" class="title">Social Media Marketing Tips for Startups</a></h4>
                <div class="meta"> <span class="meta-icon"><i class="fa fa-calendar"></i></span><span class="meta-date">15 November, 2020</span></div>
              
            </li>
          </ul>
        </div>
        <!-- widget-recent-post-close--> 
        <!-- widget-Tag start -->
        <div class=" widget widget-tags ">
          <h2 class=" widget-title" >Tags</h2>
          <a href="#">SEO</a><a href="#">Dital Marketing</a><a href="#">Web design</a><a href="#">Free website Template</a><a href="#">marketing</a><a href="#">Free Bootstrap Template</a></div>
        <!-- widget-Tag close --> 
        
      </div>
    </div>
  </div>
</div>
</div>
<!--post-close -->
<!-- footer start -->
<div class="footer">
  <div class="container">
    <div class="row"> 
      <!-- footer-useful links-start -->
      <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="footer-widget">
          <h3 class="footer-title">Quick Links</h3>
          <ul>
            <li><a href="#">Home </a></li>
            <li><a href="#">About us </a></li>
            <li><a href="#">Practice Area </a></li>
            <li><a href="#">Cases </a></li>
            <li><a href="#">News </a></li>
            <li> <a href="#">Contacts</a></li>
          </ul>
        </div>
      </div>
      <!-- footer-useful links-close --> 
      <!-- footer-contactinfo-start -->
      <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="footer-widget">
          <h3 class="footer-title">24 X 7 Support</h3>
          <div class="">
            <ul>
              <li> <i class="fa fa-map-marker"></i> 2000 Cambridge Ease template,72764 India</li>
              <li><i class="fa fa-phone"></i>800-123-4567</li>
              <li><i class="fa fa-envelope"></i>info@education.com</li>
            </ul>
          </div>
          <a href="#" class="btn btn-primary btn-sm">request a Course</a></div>
      </div>
      <!-- footer-contactinfo-close --> 
      <!-- footer-about-start -->
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 ">
        <div class="footer-widget">
          <h3 class="footer-title">About Education</h3>
          <p>Velitconsectetur utleo velaoreet in bibendum felirbi iaculis iaculis dpibus ecenas one posuereorci ut euismod tristique. </p>
          <p>lorem ipsum dolr sit amet viedfum lacumdi postern lembneir siot lsedto sistompovelaoreet in bibendum egestacerat tempus magna nonrordueugloattis ultrices diam.</p>
        </div>
      </div>
      <!-- footer-about-close -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="footer-line"></div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
        <p>Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">BootstrapThemes</a>
        </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="footer-social">
         <a href="#"><span><i class="fa fa-facebook"></i></span></a>
          <a href="#"><span><i class="fa fa-google-plus"></i></span> </a> 
          <a href="#"><span class="active"><i class="fa fa-twitter"></i> </span></a> 
          <a href="#"><span><i class="fa fa-instagram"></i></span> </a> 
          <a href="#"><span><i class=" fa fa-pinterest"></i> </span></a> 
          <a href="#"><span><i class="fa fa-linkedin"></i></span></a> </div>
      </div>
    </div>
  </div>
  <!-- footer-address-close --> 
</div>

<!-- footer close --> 

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="js/jquery.min.js" type="text/javascript"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/bootstrap.min.js" type="text/javascript"></script> 
<script src="js/menumaker.js" type="text/javascript"></script> 
<script type="text/javascript" src="js/jquery.sticky.js"></script> 
<script type="text/javascript" src="js/sticky-header.js"></script> 
 
</body>
</html>
