<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="Digital marketing courses website template that can help you boost your business courses website and its completely free.">
<meta name="keywords" content="seo,free website template,responsive website template,marketing,search engine optimization, web analytics ">
<title>Digital Marketing Courses Website Template</title>
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Style CSS -->
<link href="css/style.css" rel="stylesheet">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

<!-- FontAwesome CSS -->
<link rel="stylesheet" type="text/css" href="css/fontello.css">
<link href="css/font-awesome.min.css" rel="stylesheet">
 
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="header-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-sm-4 col-md-2 col-xs-12">
        <div class="logo"> <a href="index.html"><img src="./images/logo.png" class="img-responsive" alt=""></a> </div>
      </div>
      <div class="col-lg-8 col-md-10 col-sm-8 col-xs-12">
        <div class="navigation-wrapper">
          <div id="navigation">
            <ul>
              <li class="active"><a href="index.html" title="">Home</a></li>
              <li><a href="about.html" title="">About</a> </li>
              <li class="has-sub"><a href="#" title="">Courses</a>
                <ul>
                  <li><a href="courses.html" title="">Courses</a></li>
                  <li><a href="courses-single.html" title="">Courses Single </a></li>
                </ul>
              </li>
              <li class="has-sub"><a href="#" title="">Blog</a>
                <ul>
                  <li><a href="blog-default.html" title="">Blog Default</a></li>
                  <li><a href="blog-single.html" title="">Blog Single</a></li>
                </ul>
              </li>
              <li class="has-sub"><a href="#" title="">Features</a>
                <ul>
                  <li><a href="testimonials.html" title="">Testimonials</a></li>
                  <li><a href="404-error.html" title="">404 error</a></li>
                  <li><a href="styleguide.html" title="">Styleguide</a></li>
                </ul>
              </li>
              <li><a href="contact.html" title="">Contact</a> </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-2 hidden-md hidden-sm hidden-xs"> <a href="#" class="btn btn-primary">Request a Course</a> </div>
    </div>
  </div>
</div>
<!-- header-close --> 

<!-- page-header-start -->
<div class="contact-block">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> </div>
    </div>
  </div>
</div>
<!-- page-header-close --> 
<!-- form-start -->

<div class="container">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8  col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
      <div class="contact-form">
        <h1 class="contact-info-title mb40 ">Hi, How Can We Help You?</h1>
        <div class="row">
          <form>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label class="control-label sr-only " for="Name"></label>
                <input id="name" type="text" placeholder="Name" class="form-control" required>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label class="control-label sr-only " for="email"></label>
                <input id="email" type="text" placeholder="Email" class="form-control" required>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label class="control-label sr-only " for="Phone"></label>
                <input id="phone" type="text" placeholder="Phone" class="form-control" required>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label class="control-label sr-only " for="Subject"></label>
                <input id="subject" type="text" placeholder="Subject" class="form-control">
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
              <div class="form-group">
                <label class="control-label sr-only" for="textarea"></label>
                <textarea class="form-control" id="textarea" name="textarea" rows="4" placeholder="Message"></textarea>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
              <button class="btn btn-primary btn-lg mt30">Send us message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- form-close -->
<div class="mb40">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
        <div class="contact-info">
          <h2 class="mb40">Our Contact Info</h2>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="">
            <div class="contact-icon"><i class="fa fa-map-marker"></i></div>
            <div class="">
              <p>2000 Cambridge Court 
                Springdale, AR 72764 India.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="">
            <div class="contact-icon"><i class="fa fa-phone"></i></div>
            <div class="">
              <p>+ 800-123-4567<br>
                + 800-123-4567</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="">
            <div class="contact-icon"><i class="fa fa-envelope"></i></div>
            <div class="">
              <p>info@education.com<br>
                info@digitaledu.com</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="">
            <div class="contact-icon"><i class="fa fa-mail-forward"></i></div>
            <div class="">
              <div class="contact-social"> <span><a href="#"><i class="fa fa-facebook"></i></a></span> <span><a href="#"><i class="fa fa-google-plus"></i></a></span> <span><a href="#" class="active"><i class="fa fa-twitter"></i></a> </span> <span><a href="#"><i class="fa fa-linkedin"></i></a> </span></div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <hr>
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
<h2 class="mb40">Our Offices</h2>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
<div class="widget location">
<h3>Digitaledu, Delhi</h3>
<p>2829 Woodland Cherokee, 
IA 51012</p>
<ul>
             
              <li><i class="fa fa-phone"></i>800-123-4567</li>
              <li><i class="fa fa-envelope"></i>info@education.com</li>
            </ul>


</div>

</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
<div class="widget location">
<h3>Digitaledu, Mumbai</h3>
<p>2780 Radio Park DriveAthens, 
GA 30601</p>
<ul>
             
              <li><i class="fa fa-phone"></i>800-123-4567</li>
              <li><i class="fa fa-envelope"></i>info@education.com</li>
            </ul>


</div>

</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
<div class="widget location">
<h3>Digitaledu, Ahmedabad</h3>
<p>3506 Alfred DriveBrooklyn, 
NY 11226</p>
<ul>
             
              <li><i class="fa fa-phone"></i>800-123-4567</li>
              <li><i class="fa fa-envelope"></i>info@education.com</li>
            </ul>


</div>

</div>
</div>


  </div>
</div>
<!--cta-start-->
<div class="cta-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-6 col-xs-12">
        <div class="cta-block">
          <h1>Ohh!! Have A Question?</h1>
          <p class="cta-text">Velitconsectetur utleo velaoreet in bibendum felirbi iaculis iaculis dpibusectetur utlin bibendum.</p>
          <a href="#" class="btn btn-primary btn-lg">Learn more</a> <a href="#" class="btn btn-default btn-lg">Contact us</a> </div>
      </div>
    </div>
  </div>
</div>
<!--cta-close--> 
<!-- footer start -->
<div class="footer">
  <div class="container">
    <div class="row"> 
      <!-- footer-useful links-start -->
      <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="footer-widget">
          <h3 class="footer-title">Quick Links</h3>
          <ul>
            <li><a href="#">Home </a></li>
            <li><a href="#">About us </a></li>
            <li><a href="#">Practice Area </a></li>
            <li><a href="#">Cases </a></li>
            <li><a href="#">News </a></li>
            <li> <a href="#">Contacts</a></li>
          </ul>
        </div>
      </div>
      <!-- footer-useful links-close --> 
      <!-- footer-contactinfo-start -->
      <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="footer-widget">
          <h3 class="footer-title">24 X 7 Support</h3>
          <div class="">
            <ul>
              <li> <i class="fa fa-map-marker"></i> 2000 Cambridge Ease template,72764 India</li>
              <li><i class="fa fa-phone"></i>800-123-4567</li>
              <li><i class="fa fa-envelope"></i>info@education.com</li>
            </ul>
          </div>
          <a href="#" class="btn btn-primary btn-sm">request a Course</a></div>
      </div>
      <!-- footer-contactinfo-close --> 
      <!-- footer-about-start -->
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 ">
        <div class="footer-widget">
          <h3 class="footer-title">About Education</h3>
          <p>Velitconsectetur utleo velaoreet in bibendum felirbi iaculis iaculis dpibus ecenas one posuereorci ut euismod tristique. </p>
          <p>lorem ipsum dolr sit amet viedfum lacumdi postern lembneir siot lsedto sistompovelaoreet in bibendum egestacerat tempus magna nonrordueugloattis ultrices diam.</p>
        </div>
      </div>
      <!-- footer-about-close -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="footer-line"></div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
        <p>Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">BootstrapThemes</a>
        </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="footer-social">
         <a href="#"><span><i class="fa fa-facebook"></i></span></a>
          <a href="#"><span><i class="fa fa-google-plus"></i></span> </a> 
          <a href="#"><span class="active"><i class="fa fa-twitter"></i> </span></a> 
          <a href="#"><span><i class="fa fa-instagram"></i></span> </a> 
          <a href="#"><span><i class=" fa fa-pinterest"></i> </span></a> 
          <a href="#"><span><i class="fa fa-linkedin"></i></span></a> </div>
      </div>
    </div>
  </div>
  <!-- footer-address-close --> 
</div>

<!-- footer close --> 

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="js/jquery.min.js" type="text/javascript"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/bootstrap.min.js" type="text/javascript"></script> 
<script src="js/menumaker.js" type="text/javascript"></script> 
<script type="text/javascript" src="js/jquery.sticky.js"></script> 
<script type="text/javascript" src="js/sticky-header.js"></script> 
 
</body>
</html>
